@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 0px;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
}

html {
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: #3b444b;
  text-decoration: inherit;
  position: relative;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.row {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

NAV

*/

.nav__container {
  padding: 20px 32px;
  background-color: #353839;
}

.nav__logo {
  font-size: 32px;
  color: #f5f5f5;
  font-weight: 900;
  letter-spacing: 0.025em;
  text-decoration: none !important;
  margin: 0 24px 0 0;
  cursor: default;
  display: flex;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__link {
  font-size: 12px;
  color: #f5f5f5;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-underline-offset: 2px;
  margin: 0px 12px;
  transition: all 300ms ease;
}

.btn-contact {
  padding: 4px 16px;
  text-decoration: none !important;
  background-color: #43ac6a;
  border-radius: 4px;
}

.btn-contact:hover {
  background-color: #61c185;
}

.nav__link:hover {
  border-width: 0px;
  text-decoration: underline 1px solid white;
  border-style: solid;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 0 16px 0 0;
}

.btn__menu {
  background-color: transparent;
  font-size: 36px;
  border: none;
  color: #f5f5f5;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible !important;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 12px;
  color: white;
}

/* 

LANDING

*/

.content__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  color: #f5f5f5;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 15px;
}

.input__wrap {
  width: 100%;
  max-width: 450px;
  position: relative;
  overflow: hidden;
}

input {
  width: 100%;
  max-width: 450px;
  height: 36px;
  font-size: 16px;
  padding-left: 20px;
  border: 1.5px solid #353839;
  border-radius: 9999px;
}

input:focus {
  outline: none;
}

input:focus-within {
  border-color: #ff6600 !important;
}

.search__wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 16px 0 8px;
  font-size: 18px;
  transition: all 300ms ease;
}

.search__wrapper:hover {
  color: #ff6600;
}

.svg-inline--fa {
  width: 1.2em;
  height: 1.2em;
}


/* adding screen size responsiveness */

/* small phones */
@media (max-width: 550px) {
  .nav__link {
    display: none;
  }
  .btn__menu {
    display: block;
    color: #f5f5f5;
  }
  .content__wrapper {
    margin-top: 40px !important;
  }
  input {
    max-width: 360px;
  }
  .input__wrap {
    max-width: 360px;
  }
}